.ImgExemplo{
    height: 28%;
    width:auto;
    display: inline-flex;
    position:fixed;
    margin: auto;
    margin-top: 26px;
    left:0%;
    right: 0%;
    flex-direction: row;
    background: linear-gradient(#009438, 50%, #009438, transparent) ;
    

}

.ImgExemplo img{
    width: 50%;
    height:80%;
    max-height: 480px;
    left: 0px;
    display: flex;
    

    
}
.simple-linear {
    background: linear-gradient(blue, pink);
    align-self:auto;
    height: 50%;
    
  }

.ImgExemplo figcaption {
    position:fixed;
    margin-top: 5%;
    margin-left: 24%;
    /*right: 20px;*/
    text-shadow: 4px 4px 5px #009438;
    font-size: 60px;
    color: white;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
