/*acho que nao ta funcionando*/
@media screen and (max-width: 600px) {
  .ImgExemplo figcaption{
    font-size: 45px;
  }
}
*{
  font-family: 'Poppins', sans-serif;
}


body{
  margin:0;
}
.ImgExemplo{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 42px;
    background: url("https://img.elo7.com.br/product/zoom/3D90CD6/painel-3d-sublimado-natal-lareira-arvore-fundo-fotografico-fundo-fotografico-de-natal.jpg");
    background-size: 100%;
    overflow: auto;
    background-position: 100%;
    
}

.ImgExemplo figcaption {
    position:left,sticky;
    width: 700px;
    height: 180px;
    margin-left:100px;
    margin-top: 380px;
    top: 20px;
    text-shadow: 4px 4px 5px #940905;
    font-size: 80px;
    color: white;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
