@media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
  }
.ImgExemplo{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 42px;
    background: url("https://img.elo7.com.br/product/zoom/3D90CD6/painel-3d-sublimado-natal-lareira-arvore-fundo-fotografico-fundo-fotografico-de-natal.jpg");
    background-size: 100%;
    overflow: auto;
    background-position: 100%;
    margin-left: -932px;    
    display: inline-block;
    
}

.ImgExemplo figcaption {
    position:relative;
    width: 535px;
    height: 180px;
    left: 650px;
    top: 20px;
    text-shadow: 4px 4px 5px #940905;
    font-size: 90px;
    color: white;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
