

.menu{
    position: absolute;
    align-items: center;
    justify-content: space-around;
    top: 0px;

    display: flex;
    background-color: #940905;
    width:100%;
    left:0%;
    right: 0%;
    height: 42px;
    flex: auto;

    
}
.descemeio{
    scroll-behavior: smooth;
}
.menu button{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    font-size: 18px;
}
