.About{
    margin:auto;
    position:inherit;
    top: 50%;
    width:800px;
    
}

.About ab1 {
    text-align: center;
    padding:0 100px;
    background-color: #780000;
    font-size: 25px;
    width:140px;
    color: white;
    text-align: justify;
  }

  .About ideal{
    width:fit-content
  }

  .About ab2 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    text-align:justify;

  }

  .inclusao-copa {
    font-size: 17px;
    text-align: justify;
    background-color: rgba(120, 0, 0, 0.27);
    font-style: italic;
    padding: 10px;
    border-style:solid;
    border-left-width: 4px;

    border-color: #780000;
    

    
  }

  .Img-natal {
    background-image: url("C:\Users\ignac\Documents\My Games\site-natal\public\natal.jpg");
    background-size: 100%;
    height: 400px;
    width: 100%;
}

  .About ab4 {
    margin-top: 500px;
    margin-bottom: 100px;
    font-size: 15px;
    width: 434px;
    text-align: justify;
  }